@use 'styles/variables' as vars;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.25rem 0.85rem;
  border: none;
  border-radius: vars.$radius;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.2s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background: vars.$color-primary;

  &:hover {
    background: vars.$color-primary-hover;
  }
}

.accent {
  background: vars.$color-accent;

  &:hover {
    background: vars.$color-accent-hover;
  }
}

.secondary {
  background: vars.$color-dark;

  &:hover {
    background: vars.$color-dark-hover;
  }
}
