.card {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 12px;
  background-color: var(--bg);
}

.card__title {
  margin: 0 0 8px;
  text-transform: capitalize;
  color: var(--text-h);
}

.card__image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 0 auto 8px;
}

.card__description {
  font-size: 14px;
  color: var(--text);
  line-height: 1.4;
}

.card__description span {
  display: block;
}
